<br/>
<h4>Nouveau Patient</h4>

id : <input type="text" value="" (change)="changeModifiedInfo($event)" name="ssn"><br/>
nom : <input type="text" value="" (change)="changeModifiedInfo($event)" name="nom"><br/>
prenom : <input type="text" value="" (change)="changeModifiedInfo($event)" name="prenom"><br/>
adresse : <input type="text" value="" (change)="changeModifiedInfo($event)" name="adresse"><br/>
Pathologie : <input type="text" value="" (change)="changeModifiedInfo($event)" name="pathology"><br/>

<button (click)="addPatient()">Ajouter patient</button>
<br/>
